:root {
  --accent: #f4f4f5;
  --accent-foreground: #0c4a6e;
  --background: #ffffff;
  --border: #d4d4d8;
  --card: #ffffff;
  --card-foreground: #09090b;
  --destructive: #dc2626;
  --destructive-foreground: #fef2f2;
  --foreground: #18181b;
  --input: #e4e4e7;
  --muted: #e4e4e7;
  --muted-foreground: #71717a;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #0c4a6e;
  --primary-foreground: #fafafa;
  --ring: #18181b;
  --secondary: #e4e4e7;
  --secondary-foreground: #18181b;
  --chart-1: #2a9d90;
  --chart-2: #e76e50;
  --chart-3: #274754;
  --chart-4: #e8c468;
  --chart-5: #f4a462;
  --sidebar-background: #fafafa;
  --sidebar-foreground: #3f3f46;
  --sidebar-primary: #18181b;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #a1a1aa;
  --rounded-sm: 2px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;
  --rounded-full: 9999px;
  --text-xs: 12px;
  --leading-4: 16;
  --text-sm: 14px;
  --leading-5: 20;
  --text-base: 16px;
  --leading-6: 24;
  --text-lg: 18px;
  --leading-7: 28;
  --text-xl: 20px;
  --text-2xl: 24px;
  --leading-8: 32;
  --text-3xl: 30px;
  --leading-9: 36;
  --text-4xl: 36px;
  --leading-10: 40;
  --text-5xl: 48px;
  --semibold: 600;
  --tight: -0.4000000059604645;
  --normal: 400;
  --medium: 500;
  --bold: 700;
}

.dark {
  --accent: #075985;
  --accent-foreground: #fafafa;
  --background: #082f49;
  --border: #0369a1;
  --card: #082f49;
  --card-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fef2f2;
  --foreground: #fafafa;
  --input: #075985;
  --muted: #075985;
  --muted-foreground: #a1a1aa;
  --popover: #09090b;
  --popover-foreground: #fafafa;
  --primary: #bae6fd;
  --primary-foreground: #18181b;
  --ring: #d4d4d8;
  --secondary: #0369a1;
  --secondary-foreground: #fafafa;
  --chart-1: #2662d9;
  --chart-2: #e23670;
  --chart-3: #e88c30;
  --chart-4: #af57db;
  --chart-5: #2eb88a;
  --sidebar-background: #18181b;
  --sidebar-foreground: #f4f4f5;
  --sidebar-primary: #1d4ed8;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #f4f4f5;
  --sidebar-border: #27272a;
  --sidebar-ring: #d4d4d8;
}
